@font-face {
    font-family: 'gilroy';
    src: url('../fonts/Gilroy-Medium.ttf') format('truetype'); /* Use a relative path */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'gilroy'; /* Ensure proper font family name and fallback */
}

body {
    height: 100%;
    width: 100%;
    background-color: black;
    color: white;
}
